name: Linters

on:
  pull_request:
  push:
jobs:
  linters:
    name: Linters

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c723f3a885e3f1d866d91f4f0c33dd44b1fc7c60 # v18

      - name: Enable binary cache
        uses: cachix/cachix-action@v16
        with:
          name: colmena
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Check EditorConfig
        run: nix-shell --run "editorconfig-checker"

      - name: Check flake8
        run: nix-shell --run "flake8 manual/preprocess.py"

      - name: Check rustfmt
        run: nix-shell --run "cargo fmt --check"
