# This is the workflow file to deploy the user manual for
# the next stable release. For the one that is currently in
# effect, check the release branches (e.g., release-0.2.x).

name: Deploy Stable Manual

on:
  push:
    branches:
      - release-0.4.x
jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        nix:
          - name: 2.10.3
            url: https://releases.nixos.org/nix/nix-2.10.3/install

    steps:
      - uses: actions/checkout@v3.0.2
      - uses: cachix/install-nix-action@v17
        with:
          install_url: ${{ matrix.nix.url }}
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: colmena
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Check API version
        run: echo "api_version=$(nix eval .#colmena.apiVersion | sed 's|\"||g')" >> $GITHUB_ENV

      - name: Check latest stable API version
        run: echo "latest_stable_api=$(curl -L https://raw.githubusercontent.com/zhaofengli/colmena/main/.github/latest_stable_api)" >> $GITHUB_ENV

      # == Manual
      - name: Build manual
        run: nix build .#manual -L

      - name: Deploy manual
        uses: JamesIves/github-pages-deploy-action@4.1.6
        with:
          branch: gh-pages
          folder: result
          target-folder: '${{ env.api_version }}'

      # == Redirect Farm for Latest Stable
      # /stable -> /api_version

      - name: Build redirect farm
        run: nix build .#manual.redirectFarm -L
        if: ${{ env.api_version == env.latest_stable_api }}

      - name: Deploy redirect farm
        uses: JamesIves/github-pages-deploy-action@4.1.6
        with:
          branch: gh-pages
          folder: result-redirectFarm
          target-folder: stable
        if: ${{ env.api_version == env.latest_stable_api }}
